<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axiom" version="0.8.3376.12322" targetFramework="net40" />
  <package id="Axiom.Framework" version="0.8.3376.12322" targetFramework="net40" />
  <package id="Axiom.Platforms.OpenTK" version="0.8.3376.12322" targetFramework="net40" />
  <package id="Axiom.Platforms.Win32" version="0.8.3376.12322" targetFramework="net40" />
  <package id="Axiom.RenderSystems.DirectX9" version="0.8.3376.12322" targetFramework="net40" />
  <package id="Axiom.RenderSystems.OpenGL.OpenTK" version="0.8.3376.12322" targetFramework="net40" />
  <package id="opentk_unoffical" version="1.1.788.3121" targetFramework="net40" />
</packages>